<h2> Hello, <%= @user.name %></h2>

<form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value='Logout' name='Logout' class="btn btn-secondary btn-sm">
</form>

<a href="/users/<%= @user.id %>">Dashboard</a>

<h4>All Secrets</h4>
<table>
    <tr>
        <% @secrets.each do |secret| %>
        <td><%= secret.content %></td>
        <td>
            <% if current_user == secret.user %>
                <form action="/secrets/<%= secret.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="submit" value="Delete Secret" name="Delete Secret" class="btn btn-danger btn-sm">
                </form>
            <% end %>
        </td>
    </tr>
    <tr>
        <td><%= secret.likes.count %> likes</td>
        <td>
            <% if secret.likes.where(user_id: current_user.id).any? %>
            <form action="/secrets/<%= secret.id %>/unlike" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="secret_id" value="<%= secret.id %>">
                <input type="submit" value="Unlike" name="Unlike" class="btn btn-secondary btn-sm">
            </form>
            <% else %>
            <form action="/secrets/<%= secret.id %>/like" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="secret_id" value="<%= secret.id %>">
                <input type="hidden" name="user_id" value="<%= current_user.id %>">
                <input type="submit" value="Like" name="Like" class="btn btn-success btn-sm">
            </form>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>

